/* theme color */
$--color-primary: #409EFF;
$--color-primary-light: #d3e0c3;
$--color-primary-dark: #280680;
$--color-gray-light: #ECEFF1;
$--color-gray-medium: #757575;
$--color-gray-blue-light: #f3fbff;
$--color-gray-blue-medium: #d9ddf6;
$--color-gray-blue-dark: #1D1F38;
$--color-red: #f44336;
$--color-blue: #2196f3;
$--color-light-blue: #3fa0ff;
$--color-yellow: #ffc107;
$--color-violet: #BC1965;
$--color-pink-light: #f0ecf9;
$--background-color-base: #eff3f6;
$--font-weight-primary: normal;
$--link-color: $--color-primary;
$--link-hover-color: $--color-primary-dark;
$--font-primary: 'Yekan', Tahoma;
$--font-path: '~element-ui/lib/theme-chalk/fonts';
$--top-part-height: 60px;
/* Break-point
--------------------------*/
$--sm: 580px !default;
$--md: 802px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;
// $fa-font-path: '#{$--remote-assets-url}vendor/fontawesome/5.3.1/webfonts' !default;
// @import "vendor/fontawesome/fontawesome.scss";
// @import "vendor/fontawesome/fa-solid.scss";
@import "~element-ui/packages/theme-chalk/src/index";
// @import "~element-ui/packages/theme-chalk/src/display";
@import "global";
@import "var";
@import "fonts";
@import "helpers";
@import "form";
@import "topnav";
@import "channel";

