.channels{
    margin-right: 10%;
    margin-top: 7rem;
    width: 80%;
    .new_channel_button{
        width:100px;
        height: 40px;
        margin-top: 20px;
    }
}
.channel{
    width:60rem;
    margin-bottom: 2rem;
}