.topnav{

    .webname{
        position: absolute;
        right:20px;
        color: white;
    }
}
// .el-menu--horizontal > .el-menu-item {
//     color:#303133 !important;
//     font:1.5rem;
// }
// .el-menu {
//     background-color: #A8CFF7 !important;
// }
.el-menu--horizontal .el-menu-item:not(.is-disabled):focus,
.el-menu--horizontal .el-menu-item:not(.is-disabled):hover,
.el-menu--horizontal > .el-menu-item.is-active{
    color: white !important;
}
.el-menu--horizontal > .el-menu-item.is-active {
    border-bottom:0px !important;
}
.el-menu--horizontal > .el-menu-item:not(.is-disabled):hover, .el-menu--horizontal > .el-menu-item:not(.is-disabled):focus {
    background-color: rgb(98, 169, 242) !important;
}
.el-submenu__title i {
    color: white !important;
}